/* 

Moonlight Template 

https://templatemo.com/tm-512-moonlight

*/

@keyframes seq-preloader {
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

.seq-preloader {
  background: white;
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.seq-preloader.seq-preloaded {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .5s, opacity .5s;
}

.seq-preload-indicator {
  overflow: visible;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seq-preload-circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  fill: #7a7a7a;
  opacity: 0;
  animation: seq-preloader 1.25s infinite;
}

.seq-preload-circle-2 {
  animation-delay: .15s;
}

.seq-preload-circle-3 {
  animation-delay: .3s;
}

.seq-preload-indicator-fallback {
  width: 42px;
  overflow: visible;
}

.seq-preload-indicator-fallback .seq-preload-circle {
  width: 8px;
  height:8px;
  background-color: #f4f4f4;
  border-radius: 100%;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
}

.seq-preload-indicator-fallback .seq-preload-circle-2 {
  margin-left: 3px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
}

.seq-preload-indicator-fallback .seq-preload-circle-3 {
  width: 16px;
  height: 16px;
}






/* MAIN CSS */

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
@-webkit-keyframes fillColour {
  0% {
    color: #fff;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #333;
  }
}
@keyframes fillColour {
  0% {
    color: #fff;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #333;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
	overflow: hidden;
}

body {
  overflow: hidden;
  font-size: 100%;
    background: white;/*background colors*/
}


/*important-----------------*/

nav {
	top: 10vh;
	bottom: 10vh;
  	text-align: center;
  	background: rgba(0, 0, 0, 0.8);
  	position: fixed;
  	z-index: 100;
  	height: 80vh;
  	left: 3vh;
  	width: 20%;
  	font-weight: 300;
  	font-size: 1rem;
  	border-radius: 13%;
}

nav em {
	font-style: normal;
	margin-left: 5px;
	font-size: 14px;
}

nav ul li i {
	width: 25px;
}

nav ul li a {
	font-size: 18px;
}
/*
nav .mini-logo {
	display: none;
}

nav .logo {
	margin-top: 40px;
	padding: 0px 20px;

}

nav .logo img {
	max-width: 100%;
	overflow-y: hidden;
}*/

nav ul {
	margin-top: 80px;
  	text-align: left;
  	margin-left: 60px;
  	list-style-type: none;
  	height: 55vh;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-orient: vertical;
  	-webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  	-ms-flex-pack: distribute;
    justify-content: space-around;
}
nav ul li {
	margin: 25px 0px;
}
nav a, nav a:visited, nav a:active {
  color: #fff;
}
nav a {
	text-decoration: none!important;
	font-size: 14px;
	letter-spacing: 0.5px;
  	-webkit-transition: color 2s, background 1s;
  	transition: color 2s, background 1s;
  	padding: 20px 20px;
  	position: relative;
  	z-index: 0;
}
nav a.active {
  background-color: #fff;
  color: #232323;
  border-radius: 5%
}
nav a::before {
  content: "";
  position: absolute;
  height: 0%;
  width: 0%;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: -1;
  border-radius: 5%
}
nav a:hover {
	text-decoration: none;
  -webkit-animation: fillColour 0.7s forwards ease-in-out;
          animation: fillColour 0.7s forwards ease-in-out;
}
nav a:hover::before {
  -webkit-animation: fill 0.7s forwards ease-in-out;
          animation: fill 0.7s forwards ease-in-out;
  opacity: 1;
}

/*
**********************End of index i.e left corner for all pages
****************
***************
*************
*/


.slides {
  width:  600vw; /* map slide important*/
  height: 100vh;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}
.slides .slide {
  height: 100vh;
  width: 100vw;
  float: left;
  text-align: center;
  background-size: cover;
}
.slides .slide .content {
  overflow-y: scroll;
  position: relative;
  width: 70%;
  height: 80%;
  left: 30%;
  top: 10%;
  bottom: 10%;
  
  
}
.content::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* Add a thumb */
.content::-webkit-scrollbar-thumb {
	background: rgba(250, 250, 250, 0.5);
    
}

.slides .slide:nth-child(1) {
  background-image: url(../img/a1.jpg);
}
.slides .slide:nth-child(2) {
  background-image: url(../img/second_bg.jpg);
}
.slides .slide:nth-child(3) {
  background-image: url(../img/third_bg.jpg);
}
.slides .slide:nth-child(4) {
  background-image: url(../img/fourth_bg.jpg);
 }
.slides .slide:nth-child(5) {
  background-image: url(../img/fifth_bg.jpg);
}

.slides .slide img {
  width: 100%;
}


.main-btn a:hover {
	background-color: #fff;
	color: #232323!important;
}

.first-content {
background: rgba(0, 0, 0, 0.8);
}
.first-content .container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.first-content .container-fluid .col-md-6 {
	padding-right: 0px;
	padding-left: 0px;
}

.first-content .author-image img {
	margin-top: 50px;
	border-radius: 30px;	
	max-width: 100%;
	overflow: hidden;
	margin-right: 15px;
	float: right;
}

.first-content .left-content {
	padding: 60px;
	
}

.first-content h1
    {
        border: 2px solid #D43F52;
        color: #D43F52;
        display: inline-block;
        letter-spacing: 5px;
        text-align: center;
        padding: 25px 25px;
        margin: 20px 0px;
    }

.first-content h3 {
	text-align: center;
	font-weight: bold;
	color:coral;

}
.first-content h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-top: 10%;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 40px;
	margin-left: 25%;

}

.first-content p {
	text-align: left;
	color: #fff;
	font-size: 14px;	
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 26px;
	margin-top: 25px;
	margin-bottom: 20px;
}

.first-content em {
	font-style: normal;
	font-weight: 600;
}
.first-content .main-btn {
	display: inline-block;
	margin-right: 15px;
}

.first-content .main-btn a {
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	transition: all 0.5s;
}

.first-content .dow-btn {
	display: inline-block;
}

.first-content .dow-btn a {
	display: inline-block;
	background-color: #fff;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #232323;
	text-decoration: none;
	transition: all 0.5s;
}

.first-content .dow-btn a:hover {
	color: #fff;
	background-color: transparent;
}








.second-content {
	padding: 50px;
	text-align: left;
	padding-top: 3%;
	background: rgba(0, 0, 0, 0.8);
}

.second-content h1 {	
        border: 2px solid #D43F52;
        color: #D43F52;
        display: inline-block;
        letter-spacing: 2px;
        text-align: center;
        padding:5px 5px; 
        margin-left: 35%
}
.second-content h2 {
	font-size: 20px;
	font-weight: 500;
	color:coral;
	letter-spacing: 0.5px;
	margin-left: 23%	
}

.second-content p {
	text-align: center;
	color: #fff;
	font-size: 14px;	
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 26px;
	margin-top: 25px;
	margin-bottom: 20px;
	margin-right:50px; 
	margin-left:50px;
}
.second-content .container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.second-content .container-fluid .col-md-6 {
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 10%;
}

.second-content .right-content{
	margin-top: 15%;
	padding: 25px;
	background-color:#FFFFE0 ;
	text-align: left;
}
.second-content .right-content .right-image img {
	max-width: 50%;
	min-width: 0%;
	overflow: hidden;
	float: right;
	margin-top: 25px;
	margin-bottom: 20px;
}


.second-content .left-content {
	margin-top: 15%;
	padding: 25px;
	text-align: left;
	background-color: #708090;
}

.second-content h3 {
	text-align: center;
	color: #000;
	font-size: 18px;	
	font-weight: 400;
	letter-spacing:0.5px;
	line-height: 26px;
	margin-top: 25px;
	margin-bottom: 20px;
}

.second-content h4 {
	text-align: left;
	color: #000;
	font-size: 16px;	
	font-weight: 400;
	letter-spacing:0.5px;
	line-height: 26px;
	margin-top: 25px;
	margin-bottom:0px;
}

.second-content h5 {
	text-align: left;
	color:gray;
	font-size: 13px;	
	font-weight: 400;
	letter-spacing:0.5px;
	line-height: 26px;
	margin-top: 0px;
	margin-bottom:1.5px;
}


.second-content h6 {
	text-align: left;
	color: #000;
	font-size: 14px;	
	font-weight: 400;
	letter-spacing:0.5px;
	line-height: 26px;
	margin-top: 20px;
}

.second-content a {
	color: #fff;
	text-decoration: underline;
}

.second-content .main-btn a {
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
}


.second-content .fb-btn {
	margin-top: 2%;
	display: inline-block;
    padding-left: 1%;
   margin-bottom: 20px;
   font-size: 18px;

}

.second-content .fb-btn a {
	display: inline-block;
	
  	color: white;
	

}

.second-content .fb-btn a:hover {
	color: #11ABB0;
}
.second-content .in-btn {
   display: inline-block;
    padding-left: 1%;
   margin-bottom: 20px;
   font-size: 18px;

}

.second-content .in-btn a {
	display: inline-block;
	color: #fff;
}

.second-content .in-btn a:hover {
	color: #11ABB0;
}
.second-content .git-btn {
	display: inline-block;
   margin-bottom: 20px;
   font-size: 18px;
   padding-left: 1%;
}

.second-content .git-btn a {
	display: inline-block;
	color: #fff;

}

.second-content .git-btn a:hover {
	color: #11ABB0;
}


/*


*/


.third-content {
	text-align: left;
	padding:50px;
	background: rgba(0, 0, 0, 0.8);
}

.third-content .container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}



.third-content .container-fluid .col-md-6 {
	padding-right: 0px;
	padding-left: 0px;
}

.third-content .right-content{
	margin-top:5%;
	padding: 20px;
	text-align: left;	
	height: 350px;
	
}

.third-content .left-content{
	margin-top: 5%;
	padding: 20px;
	text-align: left;
	height: 350px;
	
}


.third-content ul li{
     text-align: left;
	color: #ffffff;
	font-size: 15px;	
	font-weight: 400;
	letter-spacing:0.5px;
	line-height: 18px;
	margin-top: 25px;
	margin-bottom:0px;
	margin-left: 10%;
    
}

.third-content h3
    {text-align:left;
    font-size:20px;	
	font-weight: 400;
	letter-spacing:0.5px;
    padding: 15px 0;
	color: #D43F52;
	display: block;
	margin-bottom: 20px;
	margin-top: 25px;
	margin-left: 20%;
    }

.third-content p {
	display: inline;
	text-align: left;
	color: #fff;
	font-size: 15px;	
	font-weight: 400;
	letter-spacing:0.5px;
	line-height: 26px;
	
}



.third-content h4{	
    text-align: center;
    font-size:20px;	
	font-weight: 400;
	letter-spacing:0.5px;
    padding: 15px 0;
	color: #D43F52;
	display: block;
	margin-bottom: 20px;
	margin-top: 0px;
    }

.third-content .progress
    {
        border-radius: 4px;
        background: #ffffff;
        height: 4px;
    }
.third-content .progress .progress-bar-danger
    {
        background: #D43F52;
    }
.third-content .text-top
    {
        padding-top: 50px;
    }
.third-content span
    {
    text-align: left;
	color: #fff;
	font-size: 15px;	
	font-weight: 400;
	letter-spacing:0.5px;
	line-height: 26px;
	margin-top: 25px;
	margin-bottom:0px;
    }
.third-content small
    {
        font-weight: bold;
        float: right;
    }






.fourth-content {
	text-align: left;
	padding:50px;
	background: rgba(0, 0, 0, 0.8);
}

.fourth-content .container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.fourth-content h1 {	
        border: 2px solid #D43F52;
        color: #D43F52;
        font-size: 26px;
        font-weight: 400;
        display: inline-block;
        letter-spacing: 2px;
        text-align: left;
        padding:5px 5px; 
}
.fourth-content h2 {
	font-size: 18px;
	font-weight: 400;
	color:white;
	letter-spacing: 0.5px;	
}

.fourth-content h3 {
	text-align: left;
	color: coral;
	font-size: 16px;	
	font-weight: 300;
	letter-spacing:0.5px;
	line-height: 26px;
	margin-top: 25px;
	margin-bottom: 20px;
}
.fourth-content p {
	text-align:left;
	color: #fff;
	font-size: 14px;	
	font-weight: 300;
	letter-spacing:0.5px;
	line-height: 26px;
	margin-top: 25px;
	margin-bottom: 20px;
}


.fourth-content .dow-btn {
	display: inline-block;
}

.fourth-content .dow-btn a {
	display: inline-block;
	background-color: #fff;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #232323;
	text-decoration: none;
	transition: all 0.5s;
}

.fourth-content .dow-btn a:hover {
	color: #fff;
	background-color: transparent;
}




.fifth-content {
	padding: 50px;
	text-align: left;
	padding-top: 3%;
	background: rgba(0, 0, 0, 0.8);
}
.fifth-content .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.fifth-content .container-fluid .col-md-6 {
	padding-left: 0px;
	padding-right: 0px;
}

.fifth-content .right-content{
	margin-top: 15%;
	padding: 25px;
	background-color:#FFFFE0 ;
	text-align: left;
}

.fifth-content .left-content {
	margin-top: 15%;
	padding: 25px;
	text-align: left;
	background-color: #708090;
}



.fifth-content .contact-title {
		font-size: 24px;
		font-weight: bold;
        padding-bottom: 20px;
		color: #ffffff;
		margin-top: 25%;
    }


.fifth-content p {
	text-align: left;
	color: #D43F52;
	font-size: 14px;	
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 26px;
	margin-top: 25px;
	margin-bottom: 20px; 
	margin-left:50px;
}


.fifth-content h2 {
	font-size: 20px;
		font-weight: bold;
        padding-bottom: 20px;
		color: #ffffff;
		margin-top: 5%;
	margin-left:50px;	
}

.fifth-content .fb-btn {
	margin-top: 2%;
	display: inline-block;
    padding-left: 1%;
   margin-bottom: 20px;
   font-size: 18px;
   margin-left:50px;

}

.fifth-content .fb-btn a {
	display: inline-block;
	
  	color: white;
	

}

.fifth-content .fb-btn a:hover {
	color: #11ABB0;
}
.fifth-content .in-btn {
   display: inline-block;
    padding-left: 1%;
   margin-bottom: 20px;
   font-size: 18px;
   color: #fff;

}

.fifth-content.in-btn a {
	display: inline-block;
	color: #fff;
}

.fifth-content .in-btn a:hover {
	color: #fff;
}
.fifth-content .git-btn {
	display: inline-block;
   margin-bottom: 20px;
   font-size: 18px;
   padding-left: 1%;
}

.fifth-content .git-btn a {
	display: inline-block;
	color: #fff;

}

.fifth-content .git-btn a:hover {
	color: #11ABB0;
}


.fifth-content h3 {
	text-align: center;
	font-size: 13px;
	color: #000;
	margin-bottom: 20px;
	font-weight: 600;
}

.fifth-content h3 a {
	color: #aaa;
	text-decoration: none;
}

/*
.fifth-content #map {
	padding: 50px 0px 50px 50px;
}

.fifth-content #contact {
	padding: 50px 50px 50px 50px;
}

.fifth-content input {
  border-radius: 0px;
  padding-left: 15px;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  background-color: rgba(250, 250, 250, 0.15);
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 40px;
  height: 40px;
  width: 100%;
  margin-bottom: 25px;
}

.fifth-content textarea {
  border-radius: 0px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  background-color: rgba(250, 250, 250, 0.15);
  outline: none;
  border: none;
  box-shadow: none;
  height: 165px;
  max-height: 220px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 25px;
}

.fifth-content button {
	max-width: 100%;
	width: 100%;
    display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	border-radius: 0px;
	transition: all 0.5s;
}

.fifth-content button:hover {
	color: #232323;
	background-color: #fff;
}
*/
.footer .content {
	left: 30%;
	width: 70%;
	max-width: 70%;
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
}






/* REPONSIVE */
